body {
  background-color: burlywood;
}

h1 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table, th, td {
  border: 1px solid;
  background-color: salmon;
  border-color:aqua;
}

table {
  margin-left: auto;
  margin-right: auto;
}
th {
  font-weight: bold;
  width: 65px;
  text-align: center;
}

td {
  width: 65px;
  text-align: center;
}

.lastcell {
  width: 145px;
}