
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  font-family: 'Caveat', cursive;
}

body {
  background-color: burlywood;
}

header {
  background-color: salmon;
  height: 100px;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header ul li {
  margin-top: 40px;
  color:rgb(9, 0, 128);
  font-size: 25px;
  background-color: rgb(193, 235, 221);
  padding: 5px;
  border-radius: 10px;
  transition: 500ms;
}

#ourstory {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#name {
  color:rgb(9, 0, 128);
  font-size: 90px;
  background-color: rgb(193, 235, 221);
  width: max-content;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}
#ourstory img {
  border-radius: 20px;
  margin-left: 30px;
}
#ourstory p {
  height: max-content;
  margin: 80px;
  font-size: 18px;
  line-height: 25px;
  background-color: rgb(193, 235, 221);
  padding: 30px;
  border-radius: 10px;
  color: rgb(9, 0, 128);
  text-align: center;
}

main ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

main ul li div img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}

main section {
  color: rgb(9, 0, 128);
  text-align: center;
}

#sealoc {
  margin-top: 100px;
}

main section div {
  background-color: salmon;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 20px;
}

.smallsalmon {
  width: 50px;
}

.smallsalmonflipped {
  width: 50px;
  transform: scaleX(-1);
}

.flippedsalmon {
  transform: scaleX(-1);
}

main section h1 {
  margin-top: 100px;
  font-size: 60px;
  background-color: rgb(193, 235, 221);
  width:max-content;
  padding: 10px;
  border-radius: 20px;
}

main section h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

main section h3 {
  font-size: 22px;
}

main section p {
  padding-bottom: 10px;
  font-size: 18px;
}

#ourstory {
  display: flex;
  justify-content: space-around;
}

#clickbelow {
  margin-top: 50px;
  color:rgb(9, 0, 128);
  font-size: 60px;
}
#merch {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  background-color: salmon;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 40px;
}

#merch img {
  width: 200px;
  border-radius: 40px;
}

#merch p {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 40px;
}
#merch span {
  font-size: 60px;
}

#img-seattle {
  position: relative;
  text-align: center;
  color: rgb(9, 0, 128);
}

#text-seattle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: salmon;
  font-size: 40px;
  border-radius: 10px;
  transition: 500ms;
}

#text-seattle:hover {
  font-size: 55px;
  cursor: pointer;
}

#img-tokyo {
  position: relative;
  text-align: center;
  color: rgb(9, 0, 128);
}

#text-tokyo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: salmon;
  font-size: 40px;
  border-radius: 10px;
  transition: 500ms;
}

#text-tokyo:hover {
  font-size: 55px;
  cursor: pointer;
}

#img-dubai {
  position: relative;
  text-align: center;
  color: rgb(9, 0, 128);
}

#text-dubai {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: salmon;
  font-size: 40px;
  border-radius: 10px;
  transition: 500ms;
}

#text-dubai:hover {
  font-size: 55px;
  cursor: pointer;
}

#img-paris {
  position: relative;
  text-align: center;
  color: rgb(9, 0, 128);
}

#text-paris {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: salmon;
  font-size: 40px;
  border-radius: 10px;
  transition: 500ms;
}

#text-paris:hover {
  font-size: 55px;
  cursor: pointer;
}

#img-lima {
  position: relative;
  text-align: center;
  color: rgb(9, 0, 128);
}

#text-lima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: salmon;
  font-size: 40px;
  border-radius: 10px;
  transition: 500ms;
}

#text-lima:hover {
  font-size: 55px;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table, th, td {
  border: 1px solid;
  background-color: salmon;
  border-color:aqua;
}

table {
  margin-left: auto;
  margin-right: auto;
}
th {
  font-weight: bold;
  width: 65px;
  text-align: center;
}

td {
  width: 65px;
  text-align: center;
}

.lastcell {
  width: 145px;
}